body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-image: url("image/businessman-gafcd801d4_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.player {
  /* //height: 95vh; */
  /* background: linear-gradient(to right, #9a1d86, #1595be); */
  display: flex;
  align-items: center;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  border: 1px solid transparent;
  /* padding: 30px; */
  border-radius: 20px;
  background-color: #ddd;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  border: 2px solid #fffafa;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

.now-playing {
  font-size: 1rem;
}

.track-name {
  font-size: 2.5rem;
}

.track-artist {
  margin-top: 5px;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.active {
  color: black;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83a9ff;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774ff;
  cursor: grab;
  border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
}
.randomActive {
  color: black;
}
.rotate {
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.loader {
  /* height: 70px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .stroke {
  background: #f1f1f1;
  height: 150%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.4s linear infinite;
}
@keyframes animate {
  50% {
    height: 20%;
    background: #4286f4;
  }

  100% {
    background: #4286f4;
    height: 100%;
  }
}
.stroke:nth-child(1) {
  animation-delay: 0s;
}
.stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.stroke:nth-child(4) {
  animation-delay: 0.9s;
}
.stroke:nth-child(5) {
  animation-delay: 0.6s;
}
.stroke:nth-child(6) {
  animation-delay: 0.3s;
}
.stroke:nth-child(7) {
  animation-delay: 0s;
}
.row {
  margin: auto !important;
  display: flex;
  width: 78%;
  padding: 11rem;
}
.row2 {
  position: relative;
  top: -20rem;
}
.col-12 {
  background: rgba(13, 111, 182, 0.6);
  height: 20rem;
  width: 80%;
}
h3,
h2 {
  font-size: large;
  font-family: "Times", sans-serif;
  font-weight: bold;
  color: white;
  padding: 2rem;
}
.col-4 {
  border: solid 1px black;
  background: white;
  border-radius: 20px;
  text-align: center;
  margin: 1.2rem;
  width: 45% !important;
  padding: 4rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.contex {
  font-family: "Times", sans-serif;
  color: white;
}
.contex ul li {
  list-style: none;
  padding: 1rem;
  margin-left: 0.3rem;
}
image {
  text-align: center;
  background: #ccc;
}
img {
  border-radius: 50%;
}
.info {
  text-transform: lowercase;
  font-style: italic;
  font-family: "Times", sans-serif;
  margin-top: 0.5rem;
}
.menbre {
  text-align: center;
  font-family: "Times", sans-serif;
  color: white;
  font-style: italic;
  font-family: "Times", sans-serif;
  top: 8.5rem;
  position: relative;
}
a{
  text-decoration: none;
  color: white !important;
}
@media screen and (max-width: 768px) {
  
  .row {
        width: 145%;
  }
}
